html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

body.wait,
body.wait *{
	cursor: wait !important;
}

#map-canvas { height: 100% }

#main {
	width: 100%;
	z-index: 10000;
	position: absolute;
	bottom: 40px;
}

#history {
	z-index: 10000;
}
